#main_content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
#main_content_form {
    width: 80%;
    height: 90%;
}
#form_h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5%;
}
#form_fieldset {
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
}
.form_label {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 6%;
}
.form_p {
    margin: 8px;
}
.form_input {
    width: 90%;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    font-size: 2rem;
    font-weight: 500;
}
#form_button_submit {
    height: 50px;
    width: 91%;
    border: 0;
    border-radius: 15px;
    background-color: rgba(39, 168, 61, 0.9);
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
}
.form_input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(39,168,61,0.9);
}
#form_p_login {
    margin-left: 5%;
    font-size: 1.7rem;
}
#error_message {
    margin-left: 5%;
    color: rgb(218, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 1.4rem;
}