
.main_main_content_buttons {
    background-color: white;
    border: 0px;
    height: 400px;
    width: 400px;
    border-radius: 40px;
    font-size: 2rem;
    font-weight: 700;
}
.a_margin {
    margin: 5%;
}
@media (max-width: 1220px) {
    .main_main_content_buttons {
        height: 300px;
        width: 300px;
    }
}