#main_content {
    width: 100vw;
}
/*CSS für den Container in dem Container "main_content"*/
/*Regelt nur die anordnung der schrift und des Buttons sonst nichts*/
#main_content_fail {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*CSS für die Schrift die den Bneuzter darauf hinweist, dass er die Standort Abfrage aktivieren würde*/
#Stage1_dynamic_p {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    
}
/*CSS für den Button der Erschein wenn der Benutzer die Standort Anfrage ablehnt*/
#button_erlauben {
    background-color: rgba(39, 168, 61, 0.9);
    border: 0;
    border-radius: 200px;
    height: 60px;
    width: 400px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}